{% extends 'requests/base.html' %}
{% block content %}
<p>Request: {{ request }}</p>
<h3>{{request.owner}} - DATE:{{request.date}}- TIME:{{request.time}} - ROOM:{{request.room}} - COURSE:{{request.course}}</h3> 
<p>Comments:</p>
<p>
<a href="{% url 'requests:new_comment' request.id %}">add new comment</a>
</p>
<ul>
{% for entry in entries %}
<li>
<h4>{{entry.owner}} - {{ entry.date_added|date:'M d, Y H:i' }}</h4>
<p>{{ entry.text|linebreaks }}</p>
{% if entry.owner == user%}

<p>
<a href="{% url 'requests:edit_comment' entry.id %}">edit comment</a>
</p>
{% endif %}
</li>
{% empty %}
<li>
There are no entries for this topic yet.
</li>
{% endfor %}
</ul>
{% endblock content %}

