{% extends "requests/base.html" %}

<html lang="en">
{% block header %}
	<h1>Requests</h1>
{% endblock header %}
<body>
{% block content %}

<div class="container">

  <p>Find classes here. Click on post for more info.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Course</th>
        <th>Room</th>
        <th>Number of hours</th>
      </tr>
    </thead>
    <tbody>
    {% for r in requests %}
      <tr>
        <td><a href="{% url 'requests:comment' r.id %}">{{ r.owner }}</td>
        <td>{{r.date}}</td>
        <td>{{r.time}}</td>
        <td>{{r.course}}</td>
        <td>{{r.room}}</td>
        <td>{{r.value}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



 
    
  
  
</div> 
<a href="{% url 'requests:new_request' %}">Add a new request</a>
</body>
</html>
{% endblock content %}
</body>